*{
    margin: 0%;
}
.topbarContainer{
    height: 50px;
    width:100%;
    background-color: #1877f2;
    display:flex;
    align-items: center;
    position: sticky;
    top: 0;
}
.topbarLeft{
    flex: 3;
}
.logo{
    font-size:24px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.topbarCenter{
    flex: 5;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.searchicon{
    font-size: 20px !important;
    margin-left: 10px;

}
.searchInput{
    border:none;
    width: 70%;
}
.searchInput:focus{
    outline: none;
}
.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.topBarImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.topBarIcons{
    display: flex;
}
.topBarLinks{
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;

}
.topBarLink{
    margin-right: 10px;
}
.topBarIconItem{
    position: relative;

    cursor: pointer;
    margin-right: 14px;
}
.topBarItembadge{
    background-color: red;
    color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 12px;
    display: flex;
    justify-content: center;


}
