.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    margin-left: 10px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width:5px 
}
.sidebarWrapper{
    padding: 20px;
}
.sidebarList{
    list-style: none;
    padding: 0;
    margin: 0;

}
.sidebarListItems{
    padding-top: 10px;
    display: flex;
}
.sidebarIcons{
    padding-right: 20px;
}
.sidebarListItemText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.sidebarButton{
    margin-top: 20px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    background-color: lightsteelblue;

}
.sidebarHr{
    margin: 20px 0;
}
.sidebarFriend{
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    align-items: center;

}
.sidebarFriendImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.sidebarFriendName{
    padding: 5px;
}